.grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);

    /* Alineacion horizontal */
    justify-items: center;

    /* Alineacion vertical */
    align-items: center;
}

.grid .elemento{
    background: #8a3bb5;
    /* Para mover un solo elemento */
    justify-self: start;
    align-self: start;
}